<div class="container">
<ul id="viewTabs" class="nav nav-tabs">
  <li> <a href="#scrumboard_view" data-toggle="tab">Scrumboard</a></li>
  <li class="active"><a href="#listview_view" data-toggle="tab">Listview</a></li>
  <li><a href="#reports_view" data-toggle="tab">Reports</a></li>
</ul>
<div id="viewTabsContent" class="tab-content">
  <div class="tab-pane fade in" id="scrumboard_view">
    <%= render 'home/scrumboard_view' %>
  </div>
  <div class="tab-pane fade active in" id="listview_view">
    <%= render 'home/listview_view' %>
  </div>

  <div class="tab-pane fade in" id="reports_view">
  </div>
</div>
</div>